html {background-color: #eee; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
body {background-color: #fff; border: 1px solid #ddd; padding: 15px; margin: 15px;}
p {background-color: #eee; border: 1px solid #ddd; padding: 1px;}

img.header {width: 48px; height: 48px; border: none;}

a {text-decoration: none; color: #00C600;}
a:hover {background-color: #FFFF80;}

div.nav {
    margin: 10px auto;
    text-align: center;
    font-size: 24px;
}

div.nav span {
    margin: 20px;
}

div.word {
    margin: 10px auto;
    text-align: center;
    font-size: 24px; 
    text-align: left;
}

div.word_en {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 1px;
    font-size: 120px; 
    text-align: center;
}
div.word_en a {
    color: black;
}

input#amount {
    width: 60px;
}

.button {
    width: 100px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 0 30px;
    position: relative;
    overflow: hidden;
}

.button.green {
    border: 1px solid #64c878;
    box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
    background: -webkit-linear-gradient(top,#90dfa2,#84d494);
    background: -moz-linear-gradient(top,#90dfa2,#84d494);
    background: linear-gradient(top,#90dfa2,#84d494);
}

.round {
    padding-right: 30px;
}

.round:after {
    position: absolute;
    display: inline-block;
    content: "\003c";
    top: 50%;
    right: 10px;
    margin-top: -10px;
    width: 17px;
    height: 20px;
    padding-left: 3px;
    line-height:18px;
    font-size: 10px;
    font-weight: normal;
    border-radius: 10px;
    text-shadow: -2px 0 1px #333;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg); 
    transform: rotate(-90deg);
}

.green.round:after {
    box-shadow: 1px 0 1px rgba(255,255,255,.8) inset,1px 0 1px rgba(51,126,66,.9);
    background: -webkit-linear-gradient(top,#64c878,#6dcb80);
    background: -moz-linear-gradient(top,#64c878,#6dcb80);
    background: linear-gradient(top,#64c878,#6dcb80);                         
}

.green:hover {
    background: -webkit-linear-gradient(top,#aaebb9,#82d392);
    background: -moz-linear-gradient(top,#aaebb9,#82d392);
    background: linear-gradient(top,#aaebb9,#82d392);
}

.green:active {
    top: 1px;
    box-shadow: 0 1px 3px #4d7254 inset,0 3px 0 #fff;
    background: -webkit-linear-gradient(top,#5eac6e,#72b37e);
    background: -moz-linear-gradient(top,#5eac6e,#72b37e);
    background: linear-gradient(top,#5eac6e,#72b37e);
}

    
table#charade {
    width: 100%;
    border-collapse: collapse;
    text-align: center; 
}

table#charade th {
    font-size: 20px;
    text-align: left;
    background-color: #A7C942;
    color: #FFFFFF;
    border: 1px solid #98bf21;
}

     
table#charade td {
    font-size: 16px;
    text-align: left;
    background-color: #A7C942;
    color: #FFFFFF;
    border:1px solid #98bf21;
}

  
table#charade tr.A td {
    color: #000000;
    background-color: #EAF2D3;  
}
    
table#charade tr.B td {
    color: #000000;
    background-color: #FFFFFF;
}
