[mysqld]
# GENERAL
datadir=/data/mysql
socket=/data/mysql/mysql.sock
pid_file=/data/mysql/mysqld.pid
user=mysql
port=3306
#enforce_storage_engine=InnoDB
default-storage-engine=InnoDB
character_set_server=utf8

# InnoDB
innodb_buffer_pool_size=2G
innodb_flush_method=O_DIRECT
innodb_file_per_table=1
innodb_open_files=500
innodb_log_buffer_size=128M
innodb_log_file_size=256M
innodb_stats_on_metadata=OFF
innodb_support_xa=OFF
innodb_thread_concurrency=0
innodb_io_capacity=200

# MyISAM
key_buffer_size=128M

#BINLOG
server_id=10
log_bin=/data/mysql/mysql-bin
binlog_format=mixed
#replicate-do-db=cdn
#replicate-ignore-db=mysql
#replicate-ignore-db=test
#relay_log=/data/mysql/relay-log

# LOGGING
log_error=/data/mysql/mysql-error.log
slow_query_log=ON
long_query_time=2
slow_query_log_file=/data/mysql/mysql-slow
##These two variables are only for Percona
max_slowlog_files=5
max_slowlog_size=100M
expire_logs_days=14

# OTHER
tmp_table_size=32M
max_heap_table_size=32M
open_files_limit=600000
query_cache_type=0
query_cache_size=0
thread_cache_size=64
table_definition_cache=500
table_open_cache=1000
max_allowed_packet=16M
max_connections=800
max_user_connections=400
max_connect_errors=99999999
skip_name_resolve

[client]
default_character_set=utf8
socket=/data/mysql/mysql.sock
