### prefix=/swarm-deploy/demoproject/dev
### temp.cmd
###---------------------------------------------------------------------

{{if exists "/undo"}}
{{$data := json (getv "/undo")}}
docker service ps {{$data.swarmEnv}}-{{$data.appParent}}-{{$data.appName}}
docker service rollback --detach=false {{$data.swarmEnv}}-{{$data.appParent}}-{{$data.appName}}
{{end}}

###---------------------------------------------------------------------
