### prefix=/swarm-deploy/demoproject/dev
### temp.cmd
###---------------------------------------------------------------------

{{if exists "/rollout"}}
{{$data := json (getv "/rollout")}}
cd /data/server/demoproject/dev && \
/bin/bash deploy.sh update "{{$data.tagLatest}}" 2>&1 && \
sed -i 's#APP_TAG=".*"#APP_TAG="${2:-{{$data.tagLatest}}}"#' /data/server/demoproject/dev/deploy.sh
{{end}}

###---------------------------------------------------------------------
